body {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    height: 100px;
    margin: 70px 0 0 0;
    height: 114px;
    z-index: 1111;
    position: absolute;
    background: rgba(255, 255, 255, .86);
    padding: 6px 0;
}
.headerContent {
    width: 300px;
    padding-right: 26px;
    height: 114px;
    float: left;
}

.page-wrapper {
    height: 100%;
    overflow: hidden;
    min-height: 50vh;
}

#logo-button-container {
    width: 187px;
    height: 108px;
    margin: auto;
    position: absolute;
    left: 0 !important;
    margin-left: 22px;
}

#logo-button {
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(../img/logo.svg) no-repeat 0 0;
    position: absolute;
    transition: ease-in .6s;
    overflow: hidden;
    background-size: contain;
}

.menu-primary-menu-container {
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#menu-top_menu {
    display: flex;
    width: calc(100% - 30px);
    margin-top: 0;
    list-style: none;
    height: 106px;
    flex-direction: column;
    justify-content: space-between;
}

#menu-top_menu li {
    padding: 3px 1px;
    background: #777;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#menu-top_menu li.selected {
    background: #444;
}

#menu-top_menu li:hover {
    background: #444;
}

#menu-top_menu li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif, "Arial Narrow", "PT Sans Narrow", Arial, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
.contactContent {
    display: flex;
    justify-content: flex-start;
    width: 18rem;
    flex-wrap: wrap;
    flex-direction: column;
    float: right;
    align-items: right;
    margin-right: 1.5rem;
}
.contactContent ul {
    list-style: none;
    margin: 0;
}
.contactContent ul li {
    display: inline-block;
    color: #777;
    padding: 2px 5px;
    font-family: 'Roboto';
}
.contactContent ul li a{
    text-decoration: none;
    color: #444;
}

#gallery-container {
    margin-top: 332px;
}

.inner-container {
    width: 90vw;
    margin: 80px auto 0;
    /* max-width: 1100px; */
    padding-left: 2vw;
}

.section-topper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sort-link-box {
    
}

.button-group .section-topper span {
    color: #999;
}

.button-group .section-topper button {
    color: #777;
    font-family: 'Roboto', sans-serif, "Arial Narrow", "PT Sans Narrow", Arial, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: none;
    border: none;
}

.button-group .section-topper .button:active,
.button-group .section-topper .button.is-checked {
    background-color: #999;
    color: #fff;
    border: 0 none;
    outline: 0 none;
    border-radius: 5px;
}

.element-item {
    padding: 0;
    background-size: 98% !important;
    border: 2px #eee solid;
}

.thumb-link {
    background: transparent;
    display: inline-block;
    overflow: hidden;
    border: 1px #ddd solid;
}

.element-item .post-title {
    position: relative;
    top: 0;
    font-size: 25px;
    font-weight: 200;
    color: white;
    line-height: 1.1em;
    text-shadow: #000 0px 0px 14px;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    transform: translateY(0);
    text-align: left;
    overflow: hidden;
    font-family: 'Roboto', sans-serif, "Arial Narrow", "PT Sans Narrow", Arial, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding: 10px !important;
    height: calc( 100% - 20px);
    /* width: calc( 100% - 27px); */
    margin: 0;
    zoom: .85;
    border: 0 none;
    letter-spacing: .1rem;
}

.element-item:hover .post-title {
    opacity: 1;
    background: rgba(33, 33, 33, .6);
}

.tech-used {
    font-size: 0.7em;
    letter-spacing: .1rem;
}

@media (max-width: 999px) {
    /* .headerContent {
        width: 300px;
        padding-right: 26px;
        position: fixed;
        background: rgba(255, 255, 255, .8);
        height: 114px;
    } */
    .page-wrapper {
        min-height: 900px;
    }
    #gallery-container {
        margin-top: 332px;
    }
}
@media (max-width: 615px) {
    .contactContent {
        width: 100%;
        margin-top: 1.5rem;
    }
}